@font-face {
  font-family: 'stroke';
  src: url("../fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select::-ms-expand {
  display: none;
}

.header__menu--item .active {
  color: #10c9c3;
}

.home__header {
  background-color: #f6f6f6;
  padding: 97px 0 90px;
}

.home__header--title {
  font-size: 36px;
  letter-spacing: 0.38px;
  color: #171717;
  text-align: center;
}

.home__header--desc {
  font-family: "Nunito Sans", "sans-serif";
  font-size: 18px;
  text-align: center;
  color: #787878;
  padding: 0 420px;
  margin: 26px 0 0 3px;
  letter-spacing: 0.09px;
  line-height: 28px;
  padding: 0 15px;
}

.home__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.home__content--item:nth-child(odd) {
  background-color: #838383;
  flex-basis: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.home__content--item:nth-child(odd):hover .home__content--layer {
  opacity: 1;
}

.home__content--item:nth-child(even) {
  background-color: #dddddd;
  flex-basis: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.home__content--item:nth-child(even):hover .home__content--layer {
  opacity: 1;
}

.home__content--elem:nth-child(even) {
  background-color: #dddddd;
  flex-basis: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.home__content--elem:nth-child(even):hover .home__content--layer {
  opacity: 1;
}

.home__content--elem:nth-child(odd) {
  background-color: #838383;
  flex-basis: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.home__content--elem:nth-child(odd):hover .home__content--layer {
  opacity: 1;
}

.home__content--layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #10c9c3;
  color: #ffffff;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.home__content--layer i {
  font-size: 38px;
}

.about__header {
  background-color: #3e3e3e;
  padding: 97px 0 90px;
}

.about__header--title {
  font-size: 36px;
  letter-spacing: 0.38px;
  color: #171717;
  text-align: center;
  color: #ffffff;
}

.about__header--desc {
  font-family: "Nunito Sans", "sans-serif";
  font-size: 18px;
  text-align: center;
  color: #787878;
  padding: 0 420px;
  margin: 26px 0 0 3px;
  letter-spacing: 0.09px;
  line-height: 28px;
  color: white;
  padding: 0 15px;
}

.about__content {
  display: flex;
}

.about__content--left {
  width: 50%;
  background-color: #e1e1e1;
}

.about__content--right {
  width: 50%;
  background-color: #f5f5f5;
}

.about__content--inner {
  padding: 50px 15px 0 15px;
}

.about__content--title {
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.3px;
}

.about__content p {
  color: #787878;
  font-size: 12px;
  letter-spacing: 0.08px;
}

.about__content p:nth-child(2) {
  margin: 40px 0 0 0;
}

.about__content p:nth-child(3) {
  margin: 37px 0 0 0;
}

.about__content img {
  width: 100%;
  margin: 37px 0 140px 0;
}

.project .bx-wrapper {
  width: 100%;
  height: 570px;
}

.project .bx-wrapper .bx-viewport {
  width: 100%;
  height: 100% !important;
}

.project .bx-wrapper .bx-viewport .project__slider .slider__item {
  height: 100%;
  width: 100%;
  display: flex;
}

.project__content--box {
  padding: 109px 60px 108px 99px;
}

.project__content--box p {
  color: #787878;
  font-size: 16px;
}

.project__content--box p:nth-child(2) {
  margin: 32px 0 0 0;
}

.project__content--box p:nth-child(3) {
  margin: 34px 0 0 0;
}

.project__content--left {
  width: 50%;
  background-color: #f6f6f6;
  height: 570px;
  color: #000000;
}

.project__content--title {
  color: #171717;
  font-size: 38px;
}

.project__content--prop {
  color: #787878;
  margin: 19px 0 0 0;
}

.project__content--prop:nth-child(4) {
  margin: 59px 0 0 0;
}

.project__content--prop b {
  color: #171717;
  font-size: 16px;
}

.project__content--prop a {
  color: #787878;
}

.project__content--prop a:hover {
  text-decoration: underline;
}

.project__content--right {
  background-color: #e6e6e6;
  width: 50%;
  height: 570px;
}

.project .bx-wrapper .bx-pager {
  bottom: -45px !important;
  padding: 0 669px;
  display: flex;
  flex-flow: row wrap;
  transform: translateX(5px);
}

.project .bx-wrapper .bx-pager .bx-pager-link {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0px !important;
  background-color: #252525 !important;
  flex-basis: 50% !important;
  margin: 2px !important;
}

.project .bx-wrapper .bx-pager.bx-default-pager a.active {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0px !important;
  background-color: rgba(37, 37, 37, 0.8) !important;
  transform: translateY(-3px) !important;
}

.controls {
  border: 1px solid;
  display: flex;
  width: 100%;
}

.prev-button a {
  left: 0;
  margin: -40px 0 0 0;
  display: flex;
  align-items: center;
  font-family: "Montserrat", "sans-serif";
  color: #1d1d1d;
  transition: all .2s linear;
  position: absolute;
}

.prev-button a:hover {
  color: rgba(29, 29, 29, 0.8);
}

.prev-button i {
  font-size: 30px;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-style: normal;
  transform: translateY(-3px);
  font-weight: 700;
  text-transform: uppercase;
}

.prev-button span {
  font-size: 30px;
  font-family: 'stroke','sans-serif';
  transform: translateY(-3px);
  font-weight: 700;
}

.next-button a {
  right: 0px;
  margin: -40px 0 0 0;
  display: flex;
  align-items: center;
  font-family: "Montserrat", "sans-serif";
  color: #1d1d1d;
  transition: all .2s linear;
  position: absolute;
}

.next-button a:hover {
  color: rgba(29, 29, 29, 0.8);
}

.next-button i {
  font-size: 30px;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-style: normal;
  transform: translateY(-3px);
  font-weight: 700;
  text-transform: uppercase;
}

.next-button span {
  font-size: 30px;
  font-family: 'stroke','sans-serif';
  transform: translateY(-3px);
  font-weight: 700;
}

.contact__content {
  background-color: #f5f5f5;
  padding: 0 0 100px 0;
}

.contact__content--box {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
}

.contact__content--left {
  width: 100%;
  padding: 50px 15px 0 15px;
}

.contact__content--left p {
  margin: 43px 0 0 0;
  color: #787878;
}

.contact__content--title {
  font-size: 30px;
  color: #171717;
}

.contact__content--back {
  font-size: 16px;
  color: #787878;
  margin: 24px 0 0 0;
}

.contact__content--back a {
  color: #787878;
}

.contact__content--back a:hover {
  text-decoration: underline;
}

.contact__content--back b {
  color: #171717;
}

.contact__content--back:nth-child(3) {
  margin: 39px 0 0 0;
}

.contact__content--right {
  width: 100%;
  padding: 50px 15px 0 15px;
}

.contact__content--right .feedback__form {
  width: 100%;
}

.contact__content--right .feedback__button {
  margin: 30px 0 0 15px;
}

.contacts__map {
  width: 100%;
  height: auto;
  padding: 0 15px;
  margin: 50px auto 0;
  display: flex;
  border: none;
}

.container {
  width: 100%;
  height: auto;
}

.header {
  background-color: #e9e9e9;
}

.header__top-bar {
  height: 100px;
  display: flex;
  position: relative;
}

.header__logo {
  position: absolute;
  height: auto;
  width: auto;
  top: 35px;
  left: 5.2%;
}

.header__logo--icon {
  width: 34px;
  height: 26px;
}

.header__menu {
  display: block;
  flex-flow: column wrap;
  position: fixed;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
}

.header__menu::-webkit-scrollbar {
  width: 0px;
}

.header__menu--checkbox {
  display: none;
}

.header__menu--button {
  width: 25px;
  display: flex;
  height: 17px;
  align-items: center;
  position: absolute;
  right: 5.2%;
  top: 48px;
  cursor: pointer;
  z-index: 2;
}

.header__menu--row {
  display: flex;
  width: 100%;
  height: 3px;
  background-color: #191919;
  transition: all .2s linear;
}

.header__menu--row::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #191919;
  transform: translateY(-6px);
  transition: all .2s linear;
}

.header__menu--row::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #191919;
  transform: translateY(6px);
  transition: all .2s linear;
}

.header__menu--bg {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  position: fixed;
  pointer-events: none;
}

.header__menu--item {
  font-size: 16px;
  text-align: right;
  margin: 20px 5.2vw 0 0;
  padding: 0;
}

.header__menu--item a {
  color: #191919;
  text-transform: uppercase;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 12px;
  font-weight: 800;
  transition: all .2s linear;
}

.header__menu--item a:hover {
  color: #10c9c3;
}

.header__menu--item:nth-child(2) {
  margin: 90px 5.2vw 0 0;
}

.header__menu--item:last-child {
  margin: 20px 5.2vw 20px 0;
}

.header__content {
  margin: 50px auto 0;
  padding: 0 0 50px 0;
}

.header__block {
  display: block;
  width: 100%;
}

.header__block--title {
  font-size: 16px;
  font-family: "Montserrat", "sans-serif";
  letter-spacing: 0.2px;
  color: #1d1d1d;
  padding: 0 15px;
  text-align: center;
}

.header__block--desc {
  font-size: 12px;
  font-family: "Nunito Sans", "sans-serif";
  color: #787878;
  margin: 26px 0 0 5px;
  letter-spacing: 0.09px;
  line-height: 27px;
  padding: 0 15px;
}

.header__block--button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  padding: 14px 25px;
  background-color: #10c9c3;
  margin: 36px 0 0 15px;
  display: inline-block;
  letter-spacing: 1.2px;
  transition: all .2s linear;
}

.header__block--button:hover {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

#header__menu--checkbox:checked ~ .header__menu {
  top: 0px;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 0;
  padding: 0;
  transition-property: right;
  transition-duration: .2s;
}

#header__menu--checkbox:checked ~ .header__menu--button {
  position: fixed;
}

#header__menu--checkbox:checked ~ .header__menu--button .header__menu--row {
  transform: rotate(-45deg);
}

#header__menu--checkbox:not(checked) ~ .header__menu {
  right: -50vw;
  top: 0px;
  margin: 0;
  padding: 0;
  transition-property: position;
  transition-duration: .2s;
}

#header__menu--checkbox:checked ~ .header__menu--button .header__menu--row::before {
  transform: rotate(90deg);
}

#header__menu--checkbox:checked ~ .header__menu--button .header__menu--row::after {
  transform: rotate(90deg);
}

.about-us {
  text-align: center;
}

.about-us__inner {
  margin: 50px auto 0;
  letter-spacing: 0;
}

.about-us__title {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.01px;
  margin: 0px auto;
}

.about-us__desc {
  font-family: "Nunito Sans", "sans-serif";
  font-size: 16px;
  color: #787878;
  margin: 28px 0 0 0;
  letter-spacing: 0.08px;
  line-height: 23.9px;
  font-size: 12px;
  padding: 0 15px;
}

.about-us img {
  margin: 35px 0 0 0px;
}

.skills {
  display: flex;
  margin: 50px 0 0 0;
}

.skills__left {
  padding: 0px 15px 50px 15px;
  width: 50%;
  background-color: #f8f9f9;
}

.skills__title {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.33px;
  margin: 50px 0 0 0;
}

.skills__content {
  margin: 32px 0 0 0;
}

.skills__name {
  margin: 19px 0 0 0;
}

.skills__name:first-child {
  margin: 0;
}

.skills__name:first-child .skills__progress {
  width: 75%;
}

.skills__name:nth-child(2) .skills__progress {
  width: 90%;
}

.skills__name:nth-child(3) .skills__progress {
  width: 65%;
}

.skills__subtitle {
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.9px;
}

.skills__value {
  display: inline-block;
  margin: 5px 0 0 0;
}

.skills__line {
  width: 100%;
  height: 3px;
  display: block;
  background-color: #d8d8d8;
  margin: 17px 0 0 0;
}

.skills__progress {
  display: block;
  height: 3px;
  background-color: #10c9c3;
}

.skills__right {
  width: 50%;
  background-color: #e9e9e9;
}

.projects {
  display: flex;
  background-color: #10c9c3;
  padding: 50px 0px;
  flex-flow: row wrap;
}

.projects__item {
  display: inline-flex;
  flex-basis: auto;
  color: #ffffff;
  margin: 20px 18% 0;
}

.projects__icon i {
  font-size: 46px;
}

.projects__count {
  margin: 0px 0 0 26px;
}

.projects__value {
  display: inline-block;
  margin: 1px 0 0 0;
  letter-spacing: 0.6px;
  font-weight: 600;
}

.projects__name {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0 0 0;
  letter-spacing: 1.1px;
}

.works {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}

.works__item {
  flex-basis: 100%;
  display: flex;
  height: auto;
  position: relative;
  padding: 40%;
}

.works__item i {
  color: #ffffff;
  font-size: 44px;
}

.works__item:nth-child(even) {
  background-color: #838383;
}

.works__item:nth-child(odd) {
  background-color: #dddddd;
}

.works__elem {
  flex-basis: 100%;
  display: flex;
  height: auto;
  position: relative;
  padding: 40%;
}

.works__elem i {
  color: #ffffff;
  font-size: 44px;
}

.works__elem:nth-child(even) {
  background-color: #838383;
}

.works__elem:nth-child(odd) {
  background-color: #dddddd;
}

.works__layer {
  opacity: 0;
  background-color: #252525;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s linear;
  top: 0;
  left: 0;
}

.works__item:hover .works__layer {
  opacity: 1;
}

.works__elem:hover .works__layer {
  opacity: 1;
  background-color: #252525;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.more-work {
  background-color: #f5f5f5;
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding: 43px 0 41px 0;
  letter-spacing: 0.85px;
  transition: all .2s linear;
  cursor: pointer;
}

.more-work:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.more-work:focus {
  outline: none;
}

.process {
  display: block;
  text-align: center;
  margin: 50px auto 0;
  padding: 0 0 50px 0;
}

.process__title {
  font-size: 30px;
}

.process__desc {
  margin: 30px 0 0 0;
  padding: 0 15px;
}

.process__video {
  display: flex;
  width: 100%;
  height: auto;
  margin: 50px auto 0;
  border: none;
  padding: 0 15px;
}

.services {
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  flex-flow: row wrap;
  padding: 50px 15px 0px;
}

.services__item {
  flex-basis: 100%;
  height: auto;
  display: block;
  text-align: center;
  padding: 0 0 53px 0;
}

.services__icon {
  font-size: 46px;
  margin: 0;
  padding: 0;
}

.services__name {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.8px;
  margin: 15px 0 0 0;
  font-weight: 800;
}

.services__desc {
  font-size: 16px;
  font-family: "Nunito Sans", "sans-serif";
  padding: 0 30px;
  margin: 12px 0 0 0;
  line-height: 23px;
  letter-spacing: 0.08px;
}

.slider-box {
  background-color: #10c9c3;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 15px 15px;
}

.bx-wrapper {
  box-shadow: none !important;
  border: none !important;
  width: 100%;
  height: auto !important;
  margin: 0 auto;
  background-color: transparent !important;
}

.slider__item {
  color: white;
}

.slider__item--quote {
  font-size: 14px;
  line-height: 24px;
  transform: translate(0px, 0px);
}

.slider__item--author {
  text-transform: uppercase;
  font-size: 8px;
  line-height: 36px;
  margin: 18px 0 0 0;
}

.bx-pager .bx-default-pager {
  padding: 0px !important;
  align-items: center !important;
  margin: 50px 0 0 0 !important;
}

.bx-default-pager .bx-pager-item .bx-pager-link {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100% !important;
  background-color: #ffffff !important;
  margin: 0px 4px !important;
  padding: 0 !important;
  transform: translateY(-50%) !important;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  background-color: #ffffff !important;
  transform: translateY(-10%) !important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -45px !important;
}

.logotips {
  display: flex;
  flex-flow: row wrap;
  padding: 65px 0 60px 0;
  justify-content: center;
}

.logotips__img {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin: 20px auto 0px;
}

.logotips__img:first-child {
  margin: 0;
}

.feedback {
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px 0;
}

.feedback__inner {
  padding: 0;
}

.feedback__title {
  font-weight: 400;
}

.feedback__desc {
  font-family: "Nunito Sans", "sans-serif";
  font-size: 16px;
  color: #787878;
  margin: 28px 0 0 0;
  letter-spacing: 0.08px;
  line-height: 23.9px;
  font-weight: 400;
  padding: 0 15px;
}

.feedback__form {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 35px auto 0;
  padding: 0 15px;
}

.feedback__name-email {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedback__name {
  display: inline-block;
  width: 100%;
  height: 48px;
  border: none;
}

.feedback__name:focus {
  outline: none;
}

.feedback__email {
  display: inline-block;
  width: 100%;
  height: 48px;
  border: none;
  margin: 30px 0 0 0;
}

.feedback__email:focus {
  outline: none;
}

.feedback__yourtitle {
  width: 100%;
  height: 48px;
  border: none;
  margin: 30px 0 0 0;
}

.feedback__yourtitle:focus {
  outline: none;
}

.feedback__comment {
  width: 100%;
  height: 170px;
  border: none;
  margin: 30px 0 0 0;
  position: relative;
  resize: none;
  padding: 12px 20px;
}

.feedback__comment::placeholder {
  color: #787878;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 15px;
  position: absolute;
  top: 0;
}

.feedback__comment:focus {
  outline: none;
}

.feedback__button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 700;
  margin: 28px 0 0 0;
  padding: 20px 31px;
  background-color: #10c9c3;
  display: inline-block;
  text-transform: uppercase;
  transition: all .2s linear;
}

.feedback__button:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

input {
  padding: 0 20px 0 20px;
}

::placeholder {
  color: #787878;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 15px;
}

.footer {
  display: flex;
  background-color: #141414;
  padding: 50px 0 50px;
  flex-flow: wrap;
}

.footer__item {
  margin: 22px 0 0 0;
  padding: 0;
  display: flex;
  flex-basis: 100%;
  flex-flow: column wrap;
  list-style: none;
  line-height: 34px;
  justify-content: center;
  text-align: center;
}

.footer__item--title {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.footer__item--copyright {
  color: #b1b1b1;
  font-size: 14px;
  font-family: "Nunito Sans", "sans-serif";
  margin: 22px 0 0 0;
  padding: 0 15px;
  text-align: center;
  line-height: 24px;
}

.footer__item a {
  color: #bcbcbc;
  font-size: 15px;
  transition: all .2s linear;
}

.footer__item a:hover {
  color: #ffffff;
}

@media (min-width: 420px) {
  .projects {
    display: flex;
  }
  .projects__item {
    display: flex;
    flex-basis: 50%;
    padding: 0;
    margin: 20px 0 0 0;
  }
  .projects__item:nth-child(1) {
    margin: 0;
  }
  .projects__item:nth-child(2) {
    margin: 0;
  }
}

@media (min-width: 520px) {
  .header__content {
    display: flex;
    justify-content: flex-end;
  }
  .header__block {
    width: 479px;
    margin: 0 68px 0 0;
  }
  .header__block--title {
    text-align: left;
  }
  .projects {
    display: flex;
  }
  .projects__item {
    display: flex;
    flex-basis: 50%;
    padding: 0 0 0 5%;
  }
}

@media (min-width: 620px) {
  .projects {
    display: flex;
  }
  .projects__item {
    display: flex;
    flex-basis: 50%;
    padding: 0 0 0 10%;
  }
}

@media (min-width: 750px) {
  #header__menu--checkbox:not(checked) ~ .header__menu {
    top: 35px;
    right: 0;
    margin: 0 5.2% 0 0;
    transition-property: position;
    transition-duration: 0s;
  }
  .header {
    padding: 0 0 100px 0;
  }
  .header__top-bar {
    position: relative;
    justify-content: flex-end;
  }
  .header__menu {
    display: flex;
    background-color: transparent;
    position: relative;
    width: auto;
    height: auto;
    flex-flow: row wrap;
  }
  .header__menu--bg {
    display: none;
  }
  .header__menu--button {
    display: none;
  }
  .header__menu--item {
    margin: 0 25px 0 0;
  }
  .header__menu--item:nth-child(2) {
    margin: 0 25px 0 0;
  }
  .header__menu--item:last-child {
    margin: 0;
  }
  .header__content {
    margin: 100px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  .header__block {
    width: 479px;
    height: auto;
    position: relative;
    right: 0;
  }
  .header__block--title {
    text-align: left;
    font-size: 30px;
  }
  .header__block--desc {
    font-size: 18px;
  }
  .about-us__title {
    font-size: 30px;
  }
  .about-us__desc {
    font-size: 18px;
    width: 60%;
    padding: 0px;
    margin: 30px auto 0;
  }
  .skills__left {
    padding: 0 0 100px 0;
  }
  .skills__name {
    padding: 0 100px;
  }
  .skills__title {
    font-size: 30px;
    padding: 50px 0 0 100px;
  }
  .skills__subtitle {
    font-size: 14px;
  }
  .projects {
    display: flex;
  }
  .projects__item {
    display: flex;
    flex-basis: 50%;
  }
  .works__item {
    flex-basis: 25%;
    padding: 12%;
  }
  .works__elem {
    flex-basis: 25%;
    padding: 12%;
  }
  .works__elem:nth-child(odd) {
    background-color: #838383;
  }
  .works__elem:nth-child(even) {
    background-color: #dddddd;
  }
  .process__title {
    font-size: 30px;
    font-weight: 400;
    font-family: "Montserrat", "sans-serif";
    color: #191919;
  }
  .process__desc {
    font-family: "Nunito Sans", "sans-serif";
    font-size: 16px;
    color: #787878;
    margin: 28px 0 0 0;
    letter-spacing: 0.08px;
    line-height: 23.9px;
    width: 60%;
    padding: 0px;
    margin: 30px auto 0;
  }
  .process__video {
    min-height: 350px;
  }
  .services__item {
    flex-basis: 50%;
  }
  .bx-wrapper {
    width: 80%;
  }
  .slider__item--quote {
    font-size: 22px;
  }
  .slider__item--author {
    font-size: 12px;
  }
  .logotips {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .logotips__img {
    flex-basis: auto;
    margin: 0;
  }
  .feedback__form {
    width: 670px;
  }
  .feedback__name-email {
    flex-direction: row;
    justify-content: space-between;
  }
  .feedback__name {
    width: 47%;
  }
  .feedback__email {
    width: 47%;
    margin: 0;
  }
  /* About */
  .about__content--inner {
    padding: 150px 86px 0 86px;
  }
  .about__content--title {
    font-size: 30px;
  }
  .about__content p {
    font-size: 18px;
  }
  .about__content img {
    width: auto;
  }
  /* Contacts */
  .contact__content--box {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
  }
  .contact__content--left {
    width: 38%;
    padding: 120px 60px 0 60px;
  }
  .contact__content--left p {
    margin: 43px 0 0 0;
    color: #787878;
  }
  .contact__content--title {
    font-size: 30px;
    color: #171717;
  }
  .contact__content--back {
    font-size: 16px;
    color: #787878;
    margin: 24px 0 0 0;
  }
  .contact__content--back a {
    color: #787878;
  }
  .contact__content--back a:hover {
    text-decoration: underline;
  }
  .contact__content--back b {
    color: #171717;
  }
  .contact__content--back:nth-child(3) {
    margin: 39px 0 0 0;
  }
  .contact__content--right {
    width: 62%;
    padding: 50px 15px 0 15px;
  }
  .contact__content--right .feedback__form {
    width: 100%;
  }
  .contact__content--right .feedback__button {
    margin: 30px 0 0 15px;
  }
  .contacts__map {
    padding: 0 120px;
    height: 450px;
  }
  /* Home */
  .home__content--item:nth-child(odd) {
    flex-basis: 25%;
  }
  .home__content--item:nth-child(even) {
    flex-basis: 25%;
  }
  .home__content--elem:nth-child(even) {
    background-color: #838383;
    flex-basis: 25%;
  }
  .home__content--elem:nth-child(odd) {
    background-color: #dddddd;
    flex-basis: 25%;
  }
}

@media (min-width: 902px) {
  .projects {
    display: flex;
    justify-content: space-around;
  }
  .projects__item {
    flex-basis: auto;
    padding: 0;
  }
  .projects__item:nth-child(3) {
    margin: 0;
  }
  .projects__item:nth-child(4) {
    margin: 0;
  }
  .services__item {
    flex-basis: 25%;
  }
  .process__video {
    width: 70%;
    min-height: 450px;
  }
  .bx-wrapper {
    width: 60%;
  }
  .footer {
    justify-content: space-around;
    flex-flow: wrap;
  }
  .footer__item {
    display: inline-block;
    flex-basis: auto;
    margin: 0;
  }
  .footer__item--title {
    text-align: left;
  }
  .footer__item--copyright {
    padding: 0;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1366px;
    margin: 0 auto;
  }
}

@supports (-webkit-appearance:none){

}

 @media (min-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 520px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 620px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 902px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1400px){

@supports (-webkit-appearance:none){

}

}
